In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import re
import numpy as np
from datetime import datetime
import time

In [2]:
os.chdir('C:\\DynamicData')

product = pd.read_csv('product.csv', encoding='utf-8')
session = pd.read_csv('Session.csv', encoding='utf-8')
search1 = pd.read_csv('Search1.csv', encoding='utf-8')
search2 = pd.read_csv('Search2.csv', encoding='utf-8')
custom =  pd.read_csv('custom.csv', encoding='utf-8')
master =  pd.read_csv('Master.csv', encoding='utf-8')

C:\Users\anaconda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(product.info()); print()
print(session.info()); print()
print(search1.info()); print()
print(search2.info()); print()
print(custom.info()); print()
print(master.info()); print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5024906 entries, 0 to 5024905
Data columns (total 8 columns):
CLNT_ID      int64
SESS_ID      int64
HITS_SEQ     int64
PD_C         int64
PD_ADD_NM    object
PD_BRA_NM    object
PD_BUY_AM    object
PD_BUY_CT    object
dtypes: int64(4), object(4)
memory usage: 306.7+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2712907 entries, 0 to 2712906
Data columns (total 9 columns):
CLNT_ID            int64
SESS_ID            int64
SESS_SEQ           int64
SESS_DT            int64
TOT_PAG_VIEW_CT    float64
TOT_SESS_HR_V      object
DVC_CTG_NM         object
ZON_NM             object
CITY_NM            object
dtypes: float64(1), int64(4), object(4)
memory usage: 186.3+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2884943 entries, 0 to 2884942
Data columns (total 4 columns):
CLNT_ID       int64
SESS_ID       int64
KWD_NM        object
SEARCH_CNT    int64
dtypes: int64(3), object(1)
memory usage: 88.0+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8051172 entries, 0 to 8051171
Data columns (total 3 columns):
SESS_DT       int64
KWD_NM        object
SEARCH_CNT    object
dtypes: int64(1), object(2)
memory usage: 184.3+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671679 entries, 0 to 671678
Data columns (total 3 columns):
CLNT_ID        671679 non-null int64
CLNT_GENDER    671679 non-null object
CLNT_AGE       671679 non-null int64
dtypes: int64(2), object(1)
memory usage: 15.4+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847652 entries, 0 to 847651
Data columns (total 5 columns):
PD_C        847652 non-null int64
PD_NM       847652 non-null object
CLAC1_NM    847652 non-null object
CLAC2_NM    847652 non-null object
CLAC3_NM    847652 non-null object
dtypes: int64(1), object(4)
memory usage: 32.3+ MB
None

### product 전처리

In [3]:
product['PD_BUY_AM'] = list(map(lambda x:re.sub("\,", "",x), product['PD_BUY_AM']))
product['PD_BUY_AM'] = product['PD_BUY_AM'].astype('int64')

In [4]:
product['PD_BUY_CT'] = product['PD_BUY_CT'].astype('str')
product['PD_BUY_CT'] = list(map(lambda x:re.sub("\,", "",x), product['PD_BUY_CT']))
product['PD_BUY_CT'] = product['PD_BUY_CT'].astype('int64')

### session 전처리

In [6]:
#Session 머물지도 않고 바로 나가는 CLIENT들 있다.
session.loc[session['TOT_SESS_HR_V'].isna(),:]

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM
38,5878756,7465325,5,20180529,1.0,NaN,mobile,Chungcheongnam-do,Cheonan-si
64,6065738,9564520,26,20180424,1.0,NaN,mobile,Gyeonggi-do,Gwangmyeong-si
65,6065738,9564529,25,20180424,1.0,NaN,mobile,Gyeonggi-do,Gwangmyeong-si
246,6003295,1035552,2,20180913,1.0,NaN,desktop,Daejeon,Daejeon
604,5946142,9600252,4,20180423,1.0,NaN,mobile,Seoul,Seoul
1435,6163287,5612765,98,20180628,1.0,NaN,mobile,Seoul,Seoul
2006,5958856,9540083,20,20180424,1.0,NaN,mobile,Seoul,Seoul
2190,5970505,6643638,3,20180611,1.0,NaN,desktop,Seoul,Seoul
2216,5966034,9201368,8,20180430,1.0,NaN,mobile,Seoul,Seoul
2745,6527707,8400072,29,20180513,1.0,NaN,mobile,Gyeonggi-do,Gwangju-si
2766,6522041,4870571,20,20180710,1.0,NaN,mobile,Gyeongsangnam-do,Jinju-si
3434,6183845,7711716,13,20180524,1.0,NaN,mobile,Gyeonggi-do,Bucheon-si
3435,6183845,7706318,14,20180525,1.0,NaN,mobile,Gyeonggi-do,Bucheon-si
3437,6183845,7612167,15,20180526,1.0,NaN,mobile,Gyeonggi-do,Bucheon-si
3938,6133066,6746196,2,20180609,1.0,NaN,mobile,Seoul,Seoul
3990,6137510,7134254,46,20180603,1.0,NaN,mobile,Seoul,Seoul
4032,6135060,6468303,13,20180614,1.0,NaN,mobile,Gyeongsangnam-do,Yangsan-si
4094,6135355,477505,50,20180922,1.0,NaN,mobile,Busan,Busan
4500,6182408,3152554,3,20180808,1.0,NaN,mobile,Busan,Busan
5073,6252111,361161,15,20180925,1.0,NaN,desktop,Incheon,Incheon
5076,6252111,410616,11,20180924,1.0,NaN,desktop,Incheon,Incheon
5247,6145512,6267759,21,20180617,1.0,NaN,mobile,Seoul,Seoul
5337,6149466,4399154,2,20180718,1.0,NaN,mobile,Gyeonggi-do,Pyeongtaek-si
5521,4695074,8414642,34,20180513,1.0,NaN,mobile,Seoul,Seoul
5566,4679210,10836433,13,20180403,1.0,NaN,mobile,Seoul,Seoul
5854,6229610,3064953,10,20180809,1.0,NaN,mobile,Chungcheongbuk-do,Cheongju-si
5877,6211145,254601,188,20180926,1.0,NaN,mobile,Gyeonggi-do,Seongnam-si
6154,6262114,7856680,7,20180522,1.0,NaN,mobile,Gyeongsangbuk-do,Pohang-si
6553,6231021,4258920,642,20180720,1.0,NaN,mobile,Seoul,Seoul
7244,6379930,9803643,82,20180420,1.0,NaN,mobile,Daejeon,Daejeon
...,...,...,...,...,...,...,...,...,...
2705715,3746662,8932800,104,20180504,1.0,NaN,mobile,Seoul,Seoul
2705723,3752723,3598008,24,20180731,1.0,NaN,mobile,Gangwon-do,Wonju-si
2706289,6140552,3725462,9,20180729,1.0,NaN,mobile,Seoul,Seoul
2706398,6202776,10271867,6,20180412,1.0,NaN,mobile,Seoul,Seoul
2706558,5987591,4867294,111,20180710,NaN,NaN,mobile,Chungcheongnam-do,Yeongi-gun
2706780,4155938,4157884,22,20180722,1.0,NaN,mobile,Seoul,Seoul
2706836,4258351,4604096,4,20180715,1.0,NaN,mobile,Seoul,Seoul
2706851,4188927,10411405,17,20180410,1.0,NaN,mobile,Gyeonggi-do,Yangju-si
2707320,550360,9052673,23,20180502,1.0,NaN,mobile,Seoul,Seoul
2707985,5624868,6270918,13,20180617,1.0,NaN,mobile,Daegu,Daegu
2708662,1631705,6091497,47,20180620,1.0,NaN,mobile,Seoul,Seoul
2708903,5529333,5984390,14,20180622,1.0,NaN,mobile,Busan,Busan
2709011,6000347,8094589,3,20180518,1.0,NaN,mobile,Daejeon,Daejeon
2709407,2081240,8643209,21,20180509,1.0,NaN,desktop,Seoul,Seoul
2709718,1757723,8697279,16,20180508,1.0,NaN,mobile,Gyeonggi-do,Hwaseong-si
2709736,2387367,6243216,5,20180618,1.0,NaN,mobile,Seoul,Seoul
2710234,6139657,4168522,2,20180722,NaN,NaN,desktop,Busan,Busan
2710546,273422,3906633,28,20180726,1.0,NaN,mobile,Seoul,Seoul
2710554,179335,9839061,4,20180419,1.0,NaN,mobile,Busan,Busan
2710570,201651,227448,7,20180927,1.0,NaN,mobile,Gyeonggi-do,Seongnam-si
2710665,6336107,10402008,15,20180410,2.0,NaN,mobile,Seoul,Seoul
2710826,344004,3695023,62,20180730,1.0,NaN,mobile,Gyeongsangnam-do,Geochang-gun
2710879,453971,8026192,5,20180519,1.0,NaN,mobile,Seoul,Seoul
2710907,2548025,1670673,7,20180903,1.0,NaN,desktop,Gyeonggi-do,Anyang
2711592,395393,2579198,7,20180818,1.0,NaN,mobile,Gyeonggi-do,Namyangju-si
2712232,3173343,1226944,35,20180910,1.0,NaN,mobile,Seoul,Seoul
2712622,2672221,4843748,38,20180711,1.0,NaN,mobile,Seoul,Seoul
2712695,2693845,9944503,6,20180417,1.0,NaN,mobile,Gwangju,Gwangju
2712716,2824345,2606902,11,20180817,1.0,NaN,mobile,Ulsan,Ulsan
2712858,2708057,6528325,3,20180613,1.0,NaN,mobile,Seoul,Seoul

In [7]:
#확인
session.iloc[38,]
#이런 사람들은 보면 실제로도 TOT_PAG_VIEW_CT가 1이거나 빈값.

CLNT_ID                      5878756
SESS_ID                      7465325
SESS_SEQ                           5
SESS_DT                     20180529
TOT_PAG_VIEW_CT                    1
TOT_SESS_HR_V                    NaN
DVC_CTG_NM                    mobile
ZON_NM             Chungcheongnam-do
CITY_NM                   Cheonan-si
Name: 38, dtype: object

In [239]:
#추후에 이 이용자들의 행동 양태를 보기 위해 머물지도 않고 바로 나가는 CLIENT들을 따로 저장 (With Session ID)
Zero_Sess_HR_CLNT_ID = session.loc[session['TOT_SESS_HR_V'].isna(),:]['CLNT_ID']
Zero_Sess_HR_SESS_ID = session.loc[session['TOT_SESS_HR_V'].isna(),:]['SESS_ID']
#이 CLIENT들을 제거할 것인가를 결정한 후에 int64형으로 데이터를 바꾸어줄 것
#예를 들어, 빈 칸에 0을 넣을 것인가, 아니면 이 CLIENT들에 해당하는 observation을 제거할 것인가를 결정

In [5]:
session['Timestamp']=0

In [6]:
session['SESS_DT'] = session['SESS_DT'].astype('str')
session['SESS_DT'] = list(map(lambda x:datetime.strptime(x,'%Y%m%d'), session['SESS_DT']))
session['Timestamp'] = list(map(lambda x:datetime.timestamp(x), session['SESS_DT']))
#나중에 Timestamp는 지워줄 것. 
#다만 시간 자료형이 datetime, datetime64, Timestamp가 있어서 부득이하게 한 가지로 맞추어주어야만 했음.

In [18]:
min(session.SESS_DT)

Timestamp('2018-04-01 00:00:00')

In [19]:
max(session.SESS_DT)

Timestamp('2018-09-30 00:00:00')

In [7]:
Sat = pd.date_range(min(session.SESS_DT), max(session.SESS_DT), freq='W-SAT') #Saturday
Sun = pd.date_range(min(session.SESS_DT), max(session.SESS_DT), freq='W-SUN') #Sunday

In [8]:
Sat_Timestamp=list(map(lambda x:datetime.timestamp(x), Sat))
Sun_Timestamp=list(map(lambda x:datetime.timestamp(x), Sun))

In [9]:
Holiday = np.array(['20180505', '20180522', '20180606', '20180815', '20180923', '20180924', '20180925', ])
repic_Holiday = np.array(['20180507', '20180613', '20180926']) #5월7일, 9월26일: 대체 공휴일,6월 13일: 지방선거일
Holiday = np.append(Holiday, repic_Holiday)
Holiday = list(map(lambda x:datetime.strptime(x,'%Y%m%d'), Holiday))

In [10]:
Holiday_Timestamp=list(map(lambda x:datetime.timestamp(x), Holiday))
Holiday_Timestamp

[1525446000.0,
 1526914800.0,
 1528210800.0,
 1534258800.0,
 1537628400.0,
 1537714800.0,
 1537801200.0,
 1525618800.0,
 1528815600.0,
 1537887600.0]

In [11]:
session['Rest']=0
session['Timestamp'].head(4)

0    1.525792e+09
1    1.528643e+09
2    1.529766e+09
3    1.536764e+09
Name: Timestamp, dtype: float64

In [12]:
All_Timestamp = Sat_Timestamp + Sun_Timestamp + Holiday_Timestamp
All_Timestamp

[1523026800.0,
 1523631600.0,
 1524236400.0,
 1524841200.0,
 1525446000.0,
 1526050800.0,
 1526655600.0,
 1527260400.0,
 1527865200.0,
 1528470000.0,
 1529074800.0,
 1529679600.0,
 1530284400.0,
 1530889200.0,
 1531494000.0,
 1532098800.0,
 1532703600.0,
 1533308400.0,
 1533913200.0,
 1534518000.0,
 1535122800.0,
 1535727600.0,
 1536332400.0,
 1536937200.0,
 1537542000.0,
 1538146800.0,
 1522508400.0,
 1523113200.0,
 1523718000.0,
 1524322800.0,
 1524927600.0,
 1525532400.0,
 1526137200.0,
 1526742000.0,
 1527346800.0,
 1527951600.0,
 1528556400.0,
 1529161200.0,
 1529766000.0,
 1530370800.0,
 1530975600.0,
 1531580400.0,
 1532185200.0,
 1532790000.0,
 1533394800.0,
 1533999600.0,
 1534604400.0,
 1535209200.0,
 1535814000.0,
 1536418800.0,
 1537023600.0,
 1537628400.0,
 1538233200.0,
 1525446000.0,
 1526914800.0,
 1528210800.0,
 1534258800.0,
 1537628400.0,
 1537714800.0,
 1537801200.0,
 1525618800.0,
 1528815600.0,
 1537887600.0]

In [13]:
session.ix[session['Timestamp'].isin(All_Timestamp),'Rest']=1

C:\Users\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [15]:
session=session.drop('Timestamp', axis=1)

In [16]:
session.to_csv('C:\\Users\\승우\\Desktop\\session_with_holiday.csv')

### search1 전처리

In [94]:
search1.head(4) #info를 보면 딱히 전처리 필요 없어 보임.

   CLNT_ID  SESS_ID     KWD_NM  SEARCH_CNT
0  5607714  7112876   빌리프 아이크림           6
1  5607714  4090791  프리메라 마스크팩           3
2  5607714  4090791      여성청결제           1
3  5612428  1876482       명품가방           1

### search2 전처리

In [95]:
search2.head(4)

    SESS_DT     KWD_NM SEARCH_CNT
0  20180407      닥스원피스          8
1  20180407  닥터지 브라이트닝          1
2  20180407     달팡 인트랄          2
3  20180407        대상트          1

In [81]:
search2['SEARCH_CNT'] = search2['SEARCH_CNT'].astype('str')
search2['SEARCH_CNT'] = list(map(lambda x:re.sub("\,", "",x), search2['SEARCH_CNT']))
search2['SEARCH_CNT'] = search2['SEARCH_CNT'].astype('int32')